---
---

@import "{{ site.theme }}";

header {
    position: initial;
    float: initial;
    margin: auto;
    width: 500px;
    border-bottom: 1px solid #eee;
}

header h1 {
    display: none;
}

footer {
    display: none;
}

section {
    float: initial;
    margin: auto;
    margin-top: 70px;
}
